html, body, div, p {
  font-family: arial,helvetica;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

a {
  text-decoration:none;
}

.section {
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 70;
  width: 98%;
  min-height: 80px;
  margin: 20px;
}

#displayOptions {
  font-size: 14px;
  font-family: Arial;
  width: 100%;
  height: 33px;
  padding-top: 10px;
  margin: 0 auto;
}

#legend {
  font-size: 24px;
  font-family: Georgia;
  width: 70%;
  padding-top: 10px;
  margin: 0 auto;
}

#chart {
  background-color: white;
  width: 70%;
  height: 75%;
  margin: 0 auto;
}

#donut {
  background-color: white;
  width: 70%;
  height: 75%;
  margin: 0 auto;
}

.pageTitle {
  font: bold 35px "Century Schoolbook", Georgia, Times, serif;
  color: #333;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: -2px;
  float: left;	
}

#regionSelection {
  float: right;
  padding-right: 10px;
}

#region {
  width: 150px;	
}

#sectorSelection {
  float: right;
  padding-right: 10px;
}

#sector {
  width: 320px;	
}

#yearPeriod {
  float: right;
  padding-right: 10px;
}

#year {
  width: 80px;	
}

.cell {
  color: black;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.selection {
  z-index: 100;
}

.tag {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
}

.tag .cost {
  font-family: Georgia;
  font-size: 1.7em;
  font-weight: normal;
  text-align: left;
  padding-bottom: 3px;
  display: block;
  width: 100%;
}

/* Select options */
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* Waiting animation */
.fa-spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

i {
    position: relative;
    top: 50%;
    left: 50%;
}